@import url(../fonts/style.css);

html {
    font-size: 19px;
    overflow-x: hidden;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #5d564e;
    font-weight: 300;
    overflow-x: hidden;
    position: relative;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #5d564e!important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #5d564e!important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #5d564e!important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #5d564e!important;
}
.input-group-text {
    border-radius: 0 1em 1em 0;
    background: #fff;
    border-color: #fff;
    color: rgba(93,86,78,0.5);
    padding: 0rem 0.5rem!important;
}
.form-check {
    color: rgba(93,86,78,0.5);
}
.form-check label {
    vertical-align: middle;
    max-width: 90%;
    line-height: 1;
}
.form-check .form-check-input {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    float: none;
    margin-top: 0;
    margin-right: 0.3em;
    border-color: rgba(93,86,78,0.5);
    background: transparent;
}
.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23DCD69E' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center;
    background-color: rgba(93,86,78,1);
}
.form-check-input:checked[type=radio] + label div {
    color: rgba(93,86,78,1);
}
ul.ticks li {
    font-weight: 400;
    list-style-type: none;
    position: relative;
    margin-bottom: 0.9rem;
    padding-left: 1.5rem;
}
ul.ticks li:before {
    content: "\f26e";
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1.5;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
}
.opacity-50 {
    opacity: 0.5;
}
.border-left-dotted {
    border-left: 1px dotted rgba(93,86,78, 0.5);
}
.border-bottom-dotted {
    border-bottom: 1px dotted rgba(93,86,78, 0.5);
}
.btn {
    letter-spacing: 1px;
}
.btn-primary {
    background: #a89b8a;
    border-color: #a89b8a;
    font-weight: 900;
    box-shadow: 0px 1px 1px #73685a;
}
.btn-primary:hover {
    background-color: #f8a497;
    border-color: #f8a497;
}
.btn-lg {
    font-size: 1.5rem;
}
.btn-bordered {
    color: #a89b8a;
    letter-spacing: 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.btn-bordered:hover {
    -webkit-text-stroke-width: 0px;
}
.text-bordered {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}
.text-bordered-dark {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #5d564e;
    color: transparent;
}
.cabo {
    font-family: 'Cabo Slab Regular Regular';
}
.font-light {
    font-weight: 300;
}
.font-regular {
    font-weight: 500;
}
.font-bold {
    font-weight: bold;
}
.font-black {
    font-weight: 900;
}
.bg-dark {
    background: #5c554d!important;
}
.text-dark {
    color: #5c554d!important;
}

.hb {
    background: #ead495;
}
header nav > .container {
    z-index: 1;
}
header nav:before {
    content: '';
    background: url(../img/header-waves.svg) no-repeat center bottom;
    background-size: 100% auto;
    width: 1680px;
    height: 160px;
    z-index: 0;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.nav-right:before {
    content: '';
    height: 60px;
    width: 1px;
    border-left: 1px dotted #dfdddc;
    position: absolute;
    left: -10px;
}
.nav-right:after {
    content: '';
    height: 70px;
    width: 1px;
    border-left: 1px dotted #dfdddc;
    position: absolute;
    right: -10px;
}

.container {
    max-width: 1330px;
}

.main-nav {
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 3rem;
    font-size: 1rem;
}
.main-nav li {
    margin-right: 1rem;
}
.main-nav li .nav-link {
    padding-top: 0;
}
.tick-nav {
    text-transform: uppercase;
    font-weight: 600;
    color: #f8a497;
    margin-left: 3.2rem;
    margin-bottom: 3.4rem;
}
.tick-nav li.list-inline-item {
    margin-right: 2.2rem;
    font-size: 0.9rem;
}
.tick-nav li.list-inline-item:last-child {
    margin-right: 0;;
}
.social-nav a, .cart-nav a, .swipe-up {
    color: #5c554d;
    text-decoration: none;
}
.social-nav i,
.cart-nav i {
    font-size: 1.1rem;
    vertical-align: middle;
}
.cart-nav {
    font-size: 0.5rem;
}
.swipe-up {
    margin-left: 1.2rem;
}

.hb-boxes {
    margin-top: -4rem;
}

.middle {
    background: rgb(233,212,149);
    background: -moz-linear-gradient(top,  rgba(233,212,149,1) 0%, rgba(233,212,149,1) 12%, rgba(183,221,187,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(233,212,149,1) 0%,rgba(233,212,149,1) 12%,rgba(183,221,187,1) 100%);
    background: linear-gradient(to bottom,  rgba(233,212,149,1) 0%,rgba(233,212,149,1) 12%,rgba(183,221,187,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9d495', endColorstr='#b7ddbb',GradientType=0 );
}
.book {
    background: url(../img/ellipse.png);
    background-size: 100% 100%;
} 
.pattern {
    background: #b7ddbb url(../img/pattern.png) bottom center no-repeat;
    background-size: 100% auto;
}

.map {
    background: rgb(248,164,151);
background: -moz-linear-gradient(top,  rgba(248,164,151,1) 0%, rgba(244,176,150,1) 100%);
background: -webkit-linear-gradient(top,  rgba(248,164,151,1) 0%,rgba(244,176,150,1) 100%);
background: linear-gradient(to bottom,  rgba(248,164,151,1) 0%,rgba(244,176,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a497', endColorstr='#f4b096',GradientType=0 );

}
h1.stylish {
    font-weight: 900;
    line-height: 0.9;
}
h1.stylish span {
    -webkit-text-stroke-color: #5d564e;
}
h1.stylish small {
    font-size: 50%;
}
.has-search {
    max-width: 300px;
    margin: auto;
}
.has-search .form-control {
    padding-right: 2.375rem;
    border: none;
    border-radius: 20px;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.175rem;
    text-align: center;
    pointer-events: none;
    color: #5d564e;
    right: 0;
}
#map:before {
    content: '';
    background: -moz-linear-gradient(top,  rgba(248,164,151,1) 0%, rgba(248,164,151,0.8) 20%, rgba(248,164,151,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(248,164,151,1) 0%,rgba(248,164,151,0.8) 20%,rgba(248,164,151,0) 100%);
    background: linear-gradient(to bottom,  rgba(248,164,151,1) 0%,rgba(248,164,151,0.8) 20%,rgba(248,164,151,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8a497', endColorstr='#00f8a497',GradientType=0 );
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 25%;
    z-index: 1;
}

.boxes {
    background: url(../img/pattern1.png) bottom center no-repeat;
    background-size: cover;
}
.box, .step {
    border-right: 1px dotted rgba(93,86,78, 0.75)!important;
}
.box-last, .step-last {
    border-right: none!important;
}

.saldo {
    background: url(../img/pattern2.png) bottom center no-repeat;
    background-size: cover;
}
.saldo input {
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 0.8rem;
}
.saldo label {
    font-size: 0.9rem;
    font-weight: 500;
}

.genieten {
    background: url(../img/pattern3.png) bottom center no-repeat;
    background-size: cover;
    margin-top: -4.5rem;
    padding-top: 7rem;
}
.step span.num {
    border: 1px solid;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.1rem;
    padding: 0.2rem 0.6rem;
    display: inline-block;
    text-align: center;
    min-width: 40px;
    margin: 1rem 0;
}

.klant {
    background: url(../img/pattern4.png) bottom center no-repeat;
    background-size: cover;
}

.insta:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    background: -moz-linear-gradient(top,  rgba(234,212,149,1) 0%, rgba(234,212,149,1) 61%, rgba(234,212,149,0.03) 99%, rgba(234,212,149,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(234,212,149,1) 0%,rgba(234,212,149,1) 61%,rgba(234,212,149,0.03) 99%,rgba(234,212,149,0) 100%);
    background: linear-gradient(to bottom,  rgba(234,212,149,1) 0%,rgba(234,212,149,1) 61%,rgba(234,212,149,0.03) 99%,rgba(234,212,149,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ead495', endColorstr='#00ead495',GradientType=0 );
}
.strip {
    z-index: -1;
}

.contact {
    background: url(../img/pattern5.png) top center no-repeat;
    background-size: 100% auto;
    margin-top: -4vw;
    padding-top: 6vw;
}
.contact input, .contact textarea {
    border-radius: 30px;
}
.contact label {
    font-weight: 500;
    font-size: 0.8rem;
    padding-left: 1rem;
}

.footer {
    background: #a89b8a;
    color: #ead495;
    position: relative;
}
.footer:before {
    content: '';
    background: url(../img/footer-bg.png) bottom center no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: -135px;
    left: 0;
    height: 140px;
    width: 100%;
}
.footer a {
    color: #ead495;
    text-decoration: none;
}
.footer a:hover {
    color: #5d564e;
}

/******* Inner Page *******/
.inner {
    padding-top: 10rem;
}
.num-list {
    color: rgba(93,86,78,0.33);
}
.num-list span {
    font-weight: 500;
}
.num-list span:first-child {
    font-weight: 900;
    font-size: 1rem!important;
    border: 1px solid;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}
.num-list li.current {
    color: rgba(93,86,78,1);
}
.num-list li i {
    font-size: 1.6em;
}
.steps-form .form-control {
    padding: .2rem .75rem!important;
    min-width: 90px;
}
.steps-form .form-control::-webkit-input-placeholder {
    background: -webkit-linear-gradient(left, #5d564e 0%, #5d564e 12px,#d15f4c 12px, 
    #d15f4c 100%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}
.steps-form .form-control,
.steps-form .input-group {
    border-radius: 1em;
    border: none;
}
.steps-form .input-group {
    padding: 0rem!important;
}
.steps-form .input-group .form-control {
    min-width: 0;
}
.steps-form .form-check-input {
    width: 1.8em;
    height: 1.8em;
    vertical-align: middle;
    float: none;
    margin-top: 0;
    margin-right: 0.3em;
    border-color: rgba(93,86,78,0.5);
    background: transparent;
}
.steps-form .form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23DCD69E' class='bi bi-check' viewBox='0 0 16 16'%3E%3Cpath d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center;
    background-color: rgba(93,86,78,1);
}
.steps-form .form-check-input:checked[type=radio] + label div {
    color: rgba(93,86,78,1);
}
.steps-form .btn {
    border: 10px solid #fff;
    margin-top: -0.2rem;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 -30px 0 #fff;
}
.cart {
    border-color: #fff;
    border-radius: 1em;
}
.cart .bb {
    border-bottom: 1px dotted rgba(93,86,78,0.3);
}
.cart p {
    margin: 0.1rem 0;
}

@media (max-width: 1399px) {
    header nav:before {
        width: 145vw;
    }
}
@media (max-width: 1199px) {
    header nav:before {
        width: 142vw;
    }
    .tick-nav li.list-inline-item {
        font-size: 0.8rem;
    }
}
@media (max-width: 1119px) {
    header nav:before {
        width: 140vw;
    }
    .tick-nav li.list-inline-item {
        font-size: 0.75rem;
    }
}
@media (max-width: 1089px) {
    header nav:before {
        width: calc(139vw - 3px);
    }
    .tick-nav li.list-inline-item {
        margin-right: 1.2rem;
    }
}
@media (max-width: 1039px) {
    header nav:before {
        width: calc(138vw - 30px);
    }
    .tick-nav li.list-inline-item {
        margin-right: 0.5rem;
    }
}
@media (max-width: 991px) {
    header nav {
        padding-bottom: 2rem!important;
    }
    header nav:before {
        width: calc(145vw - 50px);
        height: 140px;
    }
    .tick-nav {
        margin-top: 1rem;
        margin-bottom: 0;
        margin-left: 0;
    }
    .navbar-light .navbar-toggler {
        margin-top: 0.1rem;
    }
    .navbar-light .navbar-brand {
        margin-right: 0!important;
    }
    .navbar-light .navbar-brand img {
        width: 6.2vw;
    }
    .navbar-collapse {
        position: absolute;
        background: #fff;
        width: 100%;
        left: 0;
        z-index: 0;
        text-align: center;
        top: 90%;
    }
    .main-nav {
        width: 100%;
        margin: 0;
    }
    .num-list span {
        font-size: 0.8rem;
    }
    .border-left-dotted {
        border-left: none;
    }
}
@media (max-width: 869px) {
    header nav:before {
        width: calc(141vw - 50px);
        height: 140px;
    }
    .tick-nav {
        justify-content: center;
        align-items: center;
        width: 75%;
    }
    .tick-nav li.list-inline-item {
        width: 29%;
        text-align: center;
    }
}
@media (max-width: 849px) {
    header nav:before {
        width: calc(140vw - 50px);
        height: 140px;
    }
}
@media (max-width: 767px) {
    header nav:before {
        height: 130px;
    }
    .tick-nav {
        width: 70%;
    }
    .tick-nav li.list-inline-item {
        width: 33.3%;
    }
    .navbar-light .navbar-brand img {
        width: 5.4vw;
    }
    .navbar-light .navbar-toggler {
        margin-top: 0.5rem;
    }
    .box, .step {
        border: none!important;
    }
}
@media (max-width: 660px) {
    .navbar-light .navbar-brand img {
        width: 5vw;
    }
    .tick-nav {
        flex-direction: column;
        margin-top: 0.1rem;
    }
    .tick-nav li.list-inline-item {
        width: 100%;
        display: block!important;
        font-size: 0.6rem;
    }
}
@media (max-width: 599px) {
    header nav:before {
        width: calc(132vw - 20px);
        height: 100px;
    }
    .navbar-light .navbar-toggler {
        margin-top: 0rem;
    }
}
@media (max-width: 549px) {
    header nav:before {
        width: calc(128vw - 20px);
    }
    .tick-nav {
        width: 60%;
    }
}
@media (max-width: 489px) {
    header nav:before {
        width: calc(140vw - 30px);
    }
    .tick-nav li.list-inline-item {
        font-size: 0.5rem;
    }
    .navbar-light .navbar-brand {
        margin-left: 0rem!important;
    }
}
@media (max-width: 455px) {
    header nav:before {
        width: calc(150vw - 40px);
    }
    .navbar-light .navbar-brand img {
        width: 5.2vw;
    }
    .swipe-up {
        margin-left: 0.5rem!important;
    }
}
@media (max-width: 430px) {
    header nav:before {
        width: calc(150vw);
        background-position:3vw bottom;
        height: 100px;
    }
}
@media (max-width: 380px) {
    header nav:before {
        width: calc(180vw);
        background-position:15vw bottom;
    }
    .navbar-light .navbar-brand img {
        width: 8vw;
    }
    .tick-nav li.list-inline-item {
        font-size: 0.45rem;
    }
}
@media (max-width: 350px) {
    header nav:before {
        width: calc(192vw);
        background-position:19vw bottom;
    }
    .tick-nav {
        width: 55%;
    }
}